
*,
:after,
:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}
@media only screen and (max-width: 47.5em) {
	html {
		font-size: 56.25%;
	}
}
@media only screen and (min-width: 112.5em) {
	html {
		font-size: 75%;
	}
}
body {
	font-family: Poppins, sans-serif;
	color: #fff;
	font-weight: 200;
	line-height: 1.6;
	font-size: 1.6rem;
	background-color: #000;
	width: 100%;
}
.h1,
.h2,
.h3 {
	font-family: Cinzel, serif;
}
.container {
	max-width: 1391px;
	margin: 0 auto;
	padding: 0 25px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
a,
button {
	cursor: pointer;
}
button {
	border: none;
	background-color: transparent;
}




